<a href="https://colab.research.google.com/github/dareoyeleke/SQL_Project_Data_Job_Analysis_VScode/blob/main/sql_basics_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [2]:
%%sql
DROP TABLE IF EXISTS skills_job_dim;
DROP TABLE IF EXISTS job_postings_fact;
DROP TABLE IF EXISTS skills_dim;
DROP TABLE IF EXISTS company_dim;

CREATE TABLE public.company_dim
(
    company_id INT PRIMARY KEY,
    name TEXT,
    link TEXT,
    link_google TEXT,
    thumbnail TEXT
);

-- Create skills_dim table with primary key
CREATE TABLE public.skills_dim
(
    skill_id INT PRIMARY KEY,
    skills TEXT,
    type TEXT
);

-- Create job_postings_fact table with primary key
CREATE TABLE public.job_postings_fact
(
    job_id INT PRIMARY KEY,
    company_id INT,
    job_title_short VARCHAR(255),
    job_title TEXT,
    job_location TEXT,
    job_via TEXT,
    job_schedule_type TEXT,
    job_work_from_home BOOLEAN,
    search_location TEXT,
    job_posted_date TIMESTAMP,
    job_no_degree_mention BOOLEAN,
    job_health_insurance BOOLEAN,
    job_country TEXT,
    salary_rate TEXT,
    salary_year_avg NUMERIC,
    salary_hour_avg NUMERIC,
    FOREIGN KEY (company_id) REFERENCES public.company_dim (company_id)
);

-- Create skills_job_dim table with a composite primary key and foreign keys
CREATE TABLE public.skills_job_dim
(
    job_id INT,
    skill_id INT,
    PRIMARY KEY (job_id, skill_id),
    FOREIGN KEY (job_id) REFERENCES public.job_postings_fact (job_id),
    FOREIGN KEY (skill_id) REFERENCES public.skills_dim (skill_id)
);

-- Set ownership of the tables to the postgres user
ALTER TABLE public.company_dim OWNER to postgres;
ALTER TABLE public.skills_dim OWNER to postgres;
ALTER TABLE public.job_postings_fact OWNER to postgres;
ALTER TABLE public.skills_job_dim OWNER to postgres;

-- Create indexes on foreign key columns for better performance
CREATE INDEX idx_company_id ON public.job_postings_fact (company_id);
CREATE INDEX idx_skill_id ON public.skills_job_dim (skill_id);
CREATE INDEX idx_job_id ON public.skills_job_dim (job_id);

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
%%bash
# Create the directory if it doesn't exist
mkdir -p /tmp/SQL_CVS_FILES

# Copy the files from Google Drive to the local directory
cp /content/drive/MyDrive/SQL_CVS_FILES/*.csv /tmp/SQL_CVS_FILES/

In [ ]:
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy company_dim FROM '/tmp/SQL_CVS_FILES/company_dim.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy skills_dim FROM '/tmp/SQL_CVS_FILES/skills_dim.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy job_postings_fact FROM '/tmp/SQL_CVS_FILES/job_postings_fact.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy skills_job_dim FROM '/tmp/SQL_CVS_FILES/skills_job_dim.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"

In [ ]:
%%sql
# NO 1 exercise. Query to find 1) Top 10 paying Data Analyst Jobs in the US, and the respective companies, with no degree mentioned, job schedule type, and the date posted.
SELECT
  name AS company_name,
  job_id,
  job_title,
  job_location,
  job_schedule_type,
  CAST(salary_year_avg AS INTEGER),
  job_posted_date::DATE
FROM
  job_postings_fact jpf
LEFT JOIN company_dim cd ON jpf.company_id = cd.company_id
WHERE job_title_short = 'Data Analyst' AND (job_location = 'United States' OR job_location = 'Anywhere') AND job_no_degree_mention = TRUE AND salary_year_avg IS NOT NULL
ORDER BY salary_year_avg DESC

In [ ]:
%%sql
# NO 2 exercise. Building on the last query, adding the specific skills needed for said jobs to help understand what skills are required to get those jobs to encourage guided effort towaards building those skills
WITH data_analyst_jobs AS
(
SELECT
  name AS company_name,
  job_id,
  job_title_short,
  job_location,
  job_no_degree_mention,
  job_schedule_type,
  CAST(salary_year_avg AS INTEGER),
  job_posted_date::DATE
FROM
  job_postings_fact jpf
LEFT JOIN company_dim cd ON jpf.company_id = cd.company_id
WHERE
  job_title_short = 'Data Analyst'
  AND job_location = 'United States'
  AND job_no_degree_mention = TRUE
ORDER BY
  salary_year_avg DESC
LIMIT 100
)
SELECT
  skills,
  type,
  company_name,
  job_title_short,
  job_no_degree_mention,
  job_location,
  CAST(salary_year_avg AS INTEGER),
  job_posted_date::DATE
FROM skills_job_dim sjd
INNER JOIN skills_dim sd ON sd.skill_id = sjd.skill_id
INNER JOIN data_analyst_jobs daj ON sjd.job_id = daj.job_id
WHERE
  job_title_short = 'Data Analyst'
  AND job_location = 'United States'
  AND job_no_degree_mention = TRUE
  AND salary_year_avg IS NOT NULL
# would be 2025, but no data inputs for current year
ORDER BY
  salary_year_avg DESC

In [ ]:
%%sql
# No 3 Exercise
SELECT
  skills,
  sd.skill_id,
  job_title_short,
  COUNT(skills)
FROM
  job_postings_fact jpf
FULL JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
FULL JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'United States'
GROUP BY sd.skills, sd.skill_id, job_title_short
ORDER BY COUNT(skills) DESC
LIMIT 5

In [ ]:
%%sql
# No 4 Exercise. Find the highest paying skills and the average salary associated with those skills for Data Analysts working remote
SELECT
  skills,
  AVG(salary_year_avg) AS avg_of_yearly_salary, job_title_short
FROM
  job_postings_fact jpf
FULL JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
FULL JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'Anywhere'  AND (skills, salary_year_avg) IS NOT NULL
GROUP BY sd.skills, salary_year_avg, job_title_short
ORDER BY AVG(salary_year_avg) DESC
LIMIT 10

In [ ]:
%%sql
# No 5 exercise. Query to pull most optimal skills for Data Analysts to learn by pulling skill by using multiple CTE's
WITH high_demand_skills AS
(
  SELECT
  skills,
  sd.skill_id,
  job_title_short,
  COUNT(skills),
  COUNT(sjd.job_id) AS job_count
FROM
  job_postings_fact jpf
FULL JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
FULL JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'United States'
GROUP BY sd.skills, sd.skill_id, job_title_short
ORDER BY COUNT(skills) DESC
),

high_paying_skills AS
(
SELECT
  skills,
  AVG(salary_year_avg) AS avg_yearly_salary,sd.skill_id
FROM
  job_postings_fact jpf
FULL JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
FULL JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'Anywhere'  AND (skills, salary_year_avg) IS NOT NULL
GROUP BY sd.skills, salary_year_avg, sd.skill_id
ORDER BY AVG(salary_year_avg) DESC
)

SELECT
  hds.skills,
  hds.skill_id,
  job_count,
  CAST(avg_yearly_salary AS INT)
FROM
  high_demand_skills hds
INNER JOIN high_paying_skills hps ON hds.skill_id = hps.skill_id

In [ ]:
%%sql
# No 5 exercise cleaned up. Query to pull most optimal skills for Data Analysts to learn by pulling skill by using multiple CTE's
WITH high_demand_skills AS
(
  SELECT
  skills,
  sd.skill_id,
  COUNT(jpf.job_id) AS job_count
FROM
  job_postings_fact jpf
LEFT JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
LEFT JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'United States'
GROUP BY sd.skills, sd.skill_id
ORDER BY COUNT(jpf.job_id) DESC
),

high_paying_skills AS
(
SELECT
  skills,
  AVG(salary_year_avg) AS avg_yearly_salary,
  sd.skill_id
FROM
  job_postings_fact jpf
LEFT JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
LEFT JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'Anywhere' AND salary_year_avg IS NOT NULL
GROUP BY sd.skills, sd.skill_id
ORDER BY AVG(salary_year_avg) DESC
)

SELECT
  hds.skills,
  hds.skill_id,
  job_count,
  CAST(avg_yearly_salary AS INT)
FROM
  high_demand_skills hds
INNER JOIN high_paying_skills hps ON hds.skill_id = hps.skill_id
WHERE avg_yearly_salary IS NOT NULL AND job_count > 10
ORDER BY avg_yearly_salary DESC, job_count DESC